.App {
  text-align: center;
}

.App .item-todo {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background-image: linear-gradient(to bottom right, #FD8451, #FFBD6F);

  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  text-transform: capitalize;
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #FE9090;
  outline: none;
  background: transparent;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
   background-image: linear-gradient(to bottom right, #FD8451, #FFBD6F);

  color: #fff;
  text-transform:uppercase;
  
}

.App .item-todo .item-delete {
  cursor: pointer;
  font-size: 22px;
  
  vertical-align:middle;
}

.strike {
  text-decoration: line-through;
}
